
html{
  background-color: gray;
}

#top_nav{
  background-color: smoke;
  height: 25px;
  font-size: 14px;
  border: solid black 1px;
  margin-bottom: 5px;
  padding: 2px;
  cursor: select;
}

#main_menu{
  background-color: gray;
  border: solid black 1px;
  position: absolute;
  float: left;
  display: block;
  cursor: pointer;
  width: 40px;
  text-align: center;
  padding: 4px 0;
}
#main_menu:hover{
  background-color: #c5c5c5;
}

#sub_menu_a{
  background-color: #c5c5c5;
  border: solid black 1px;
  position: absolute;
  top: 40px;
  float: left;
  display: none;
  cursor: pointer;
  width: 110px;
  text-align: center;
  padding: 4px 0;
}

.sub_menus {
  background-color: #c5c5c5;
  border-bottom: solid black 1px;
}
.sub_menus:hover {
  background-color: gray;
  border-bottom: solid black 1px;
}
#top_right_btn{
  background-color: white;
  display: block;
  position: absolute;
  float: right;
}

#panels_container {
  background-color: green;
  font-size: 14px;
  border: solid black 1px;
  height: 200px;
  padding: 5px;
}
.panel_title {
  border: solid black 1px;
  text-align: center;
  margin-bottom: 5px;
}

#notesList_panel{
  background-color: yellow;
  padding: 5px;
}
.note_item_row {
  border: 1px solid gray;
  margin: 1px 0;
  cursor: pointer;
}
.note_item_row:hover{
  color: blue;
}

#newNote_panel{
  background-color: cyan;
  padding: 5px;
}